@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';


@import 'base/variables';
@import 'base/mixins';

*{
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3 {
    margin: 0;
}
.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/buttons';
@import 'blocks/divider';
@import 'blocks/descr';

@import 'blocks/promo';
@import 'blocks/benefits';
@import 'blocks/more';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/prices';



@import 'blocks/media';