.more {
    min-height: 620px;
    padding: 51px 0 57px 0;
    &__wrapper {
        margin-top: 37px;
        display: flex;
        justify-content: space-between;
    }
    &__block {
        width: 360px;
    }
    &__img {
        width: 360px;
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        margin-top: 28px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: $main-color;
    }
    &__text {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
}